<!-- The content below is only a placeholder and can be replaced. -->
<div>
  <h1>{{ title }}!</h1>

  <h2>Voetbalclubs</h2>
  <li *ngFor="let item of soccerclubs">
    {{ item.clubname }} - {{item.clubplace }}
  </li>
  <p><strong>Aantal clubs: {{ soccerclubs.length }}</strong></p>

  <p>Voer club in:</p>
  <label>
    naam <input #clubname (keyup.enter)="onEnter(clubname.value)" />
  </label>
  <label>
    plaats <input #clubplace (keyup.enter)="onEnter(clubname.value)" />
  </label>
  <button (click)="addSoccerClub(clubname.value, clubplace.value)">
    Voeg toe
  </button>
</div>
